<div class="w-full h-1000px bg-cover"  style="background-image: url(https://kenh14cdn.com/thumb_w/620/2020/8/16/374884dc29995a036ca97517fd010d41-15975554311252146742167.png) ">
    <nav class="container mx-auto text-center py-10 pb-24" >
        <a class="px-10 text-white text-xl hover:bg-red-500 hover:rounded-xl py-2" href="">Home</a>
        <a class="px-10 text-white text-xl hover:bg-red-500 hover:rounded-xl py-2" href="">Products</a>
        <a class="px-10 text-white text-xl hover:bg-red-500 hover:rounded-xl py-2" href="">Contact</a>
        <a class="px-10 text-white text-xl hover:bg-red-500 hover:rounded-xl py-2" href="">Feedback</a>
    </nav>
    <div class="container mx-auto text-center">
        <p class="text-white text-[150px]">404</p> 
    </div>
    <div class="text-center pb-12">
        <p class="text-white text-xl">Ooops, Something Goes Wrong</p>
    </div>
    <div class="text-center pb-[250px]">
        <button class="text-white bg-sky-600 px-10 py-2 hover:bg-red-600">TRY ON CATE AGAIN</button>
    </div>
    <div class="text-center pb-5">
        <p class="text-white text-xl">© 2016 Cool 404 Page Widget. All rights reserved | Design by W3layouts</p>
    </div>
</div>