<div class="container">
  <div *ngIf="product">
   

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title flex gap-2" >Đặt hàng thành công sản phẩm <p class="font-medium"> {{product.name}}</p></h3>
          <h3 class="card-title flex gap-2">Vui lòng thanh toán khi nhận hàng thành công số tiền <p class="font-medium">{{product.price}} VNĐ</p>  </h3>
          <div class="py-1"><p class="card-text">Phương thức thanh toán: {{paymentMethod }}</p></div>
          <p class="card-text">Cảm ơn bạn đã đặt hàng!</p>
          
      
        
        
        </div>
      </div>
    </div>
  </div>
</div>
</div>  <div class="fireworks">
  <div class="firework"></div>
</div>