
<link rel="stylesheet" href="order.component.css">
<div class="container">
  <h1>{{ product.name }} ({{product.quanlity}} cuốn)</h1>
  <form (ngSubmit)="placeOrder()">
    <div class="form-group">
   
      <input hidden type="text" id="productId" name="productId" [(ngModel)]="order.productId" [value]="product._id" />
    </div>
    <div class="form-group">
      <label for="quanlity">Số lượng:</label>
      <input type="number" id="quanlity" name="quanlity"  [(ngModel)]="order.quanlity" required />
    </div>
    <div class="form-group">
      <label for="nameUser">Name:</label>
      <input type="text" id="nameUser" name="nameUser" placeholder="Mời nhập tên" [(ngModel)]="order.nameUser" required />
    </div>
    <div class="form-group">
      <label for="shippingAddress">Địa chỉ giao hàng:</label>
      <input type="text" id="shippingAddress" name="shippingAddress" placeholder="Mời nhập địa chỉ" [(ngModel)]="order.shippingAddress" required />
    </div>
    <div class="form-group">
      <label>Phương thức thanh toán:</label>
      <div class="payment-method">
        <label class="payment-label">
          <input type="radio" id="cash" name="paymentMethod" value="cash" [(ngModel)]="order.paymentMethod" required />
          Thanh toán khi nhận hàng
        </label>
        <label class="payment-label">
          <input type="radio" id="vnpay" name="paymentMethod" value="vnpay" [(ngModel)]="order.paymentMethod" required />
          VNPay
        </label>
      </div>
    </div>
    <button type="submit">Đặt hàng</button>
  </form>
</div>